<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>advert</title>
</head>
<body>
  <h1>Advert!!</h1>
  <p>어떤 advert가 가능한지</p>
  <table border=1>
    <tr>
      <th>Advert</th>
      <th>Explanation</th>
    </tr>
    <tr>
      <td>newspaper</td>
      <td>including written copy, graphics and photographs</td>
    </tr>
    <tr>
      <td>magazine</td>
      <td>including written copy, graphics and photographs</td>
    </tr>
    <tr>
      <td>internet</td>
      <td>including written copy, graphics and photographs and animations</td>
    </tr>
    <tr>
      <td>TV</td>
      <td>using video, library film. actors. voice-overs, music etc</td>
    </tr>
    <tr>
      <td>radio</td>
      <td>using audio, actors, voice-overs, music etc</td>
    </tr>
    <tr>
      <td>poster</td>
      <td>using graphics, photographs, actors</td>
    </tr>
    <tr>
      <td>leaflet</td>
      <td>including written copy, graphics and photographs</td>
    </tr>
  </table><br>
  <form method="get" action='./'>
    <input type="submit" value="Go to Main Page">
  </form>
</body>
</html>