<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
  <h1>Campaign!!</h1>
    <form method='post' action='./get_client'>
      <input type='radio' name='new_state' value='addNewCampaign'>
      <label for='addNewCampaign'>Add a New Campaign</label><br><br>
      <input type='radio' name='new_state' value='checkCampaignBudget'>
      <label for='checkCampaignBudget'>Check Campaign Budget</label><br><br>
      <input type='radio' name='new_state' value='completeCampaign'>
      <label for='completeCampaign'>Record completion of campaign</label><br><br>
      <input type='submit' value='Go To the next'><br>
    </form>
</form>
</body>
</html>