<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>complete campaign</title>
</head>
<body>
  <h1>Completion Form</h1>
  <p>[Client Information]<br>
  Name : {{clientName}}<br>
  Address : {{clientAddress}}<br>
  Telephone : {{clientTelephone}}<br><br>
  </p>

  <p>[Campaign Information]<br>
  Title : {{campaignTitle}}<br>
  StartDate : {{campaignStartDate}}<br>
  FinishDate : {{campaignFinishDate}}<br>
  Cost : {{campaignCost}}<br>
  RelatedAdvert : {{relatedAdvert}}<br>
  </p>
  
  <form method="get" action='./'>
    <input type="submit" value="Go to Main Page">
  </form>
</body>
</html>