<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main</title>
</head>
<body>
  <h1>Agate</h1>
    <form method='get' action='./staff'>
      <input type='submit' value='Staff'><br><br>
    </form>
    <form method='get' action='./client'>
      <input type='submit' value='Client' ><br><br>
    </form>
    <form method='get' action='./campaign'>
      <input type='submit' value='Campaign' ><br><br>
    </form>
    <form method='get' action='./advert'>
      <input type='submit' value='Advert' ><br><br>
    </form>
</body>
</html>