<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Login</title>
</head>
<body>
    <h1>Staff!!</h1>
    <form method='get' action='./staff_join'>
      <input type='submit' value='Staff join' ><br><br>
    </form>
    <form method='get' action='./assign_staff_contact'>
      <input type='submit' value='Assign Staff Contact'><br><br>
    </form>
    <form method='get' action='./get_staff'>
      <input type='submit' value='Staff Details'><br><br>
    </form>
</form>
</body>
</html>